{{#each users}}
<div>
    
    <form action="">
        <lable id="{{this}}">{{this}}</lable>
        <input type="text">
        <input type="submit">
        <span id="message{{this}}"></span>
    </form>
</div>

{{/each}}

<script src="/js/socket.io.js"></script>
<script src="/js/message.js"></script>